@use './../../scss/colors';

$height: 60px;

.spacer {
	height: $height;
}

.header {
	background-color: colors.$backgroundSecondary;
	font-family: "Roboto Mono", monospace;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 15px 15px 30px;
	gap: 15px;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $height;

	.downloadButton {
		border: 2px colors.$white solid;
		cursor: pointer;
		color: colors.$white;
		padding: 10px 15px;
		border-radius: 100px;
		min-width: 95px;
		transform: translateX(-10px);
		display: flex;
    gap: 8px;
		&::after {
			display: none;
		}
		&:hover {
			color: colors.$backgroundLight;
			background: colors.$white;
		}
	}
}
