@use './../../scss/_colors.module.scss';

$height: 75px;

.spacer {
	height: $height;
}

.header {
	background-color: colors.$backgroundSecondary;
	font-family: "Roboto Mono", monospace;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 15px 15px 15px 30px;
	gap: 15px;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $height;
	z-index: 999;
	.right{
		display: flex;
		gap: 5px;
	}
	.button {
		border: 2px colors.$white solid;
		cursor: pointer;
		color: colors.$white;
		padding: 10px 15px;
		border-radius: 100px;
		min-width: 150px;
		transform: translateX(-10px);
		display: flex;
		justify-content: space-around;
		align-items: center;
    gap: 8px;
		font-family: "Roboto Mono", monospace;
		&::after {
			display: none;
		}
		&:hover {
			color: colors.$backgroundLight;
			background: colors.$white;
		}
	}
}
